body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.bibbase_paper_author {
    white-space: nowrap;
}
.bibbase_paper_author::after {
    content: ':';
}
